# Virtual Environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Node & Package Managers
node_modules/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
