# Server
PORT=3000
NODE_ENV=development

# Database (PostgreSQL + PostGIS khớp mặc định với docker-compose.yml)
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/ondemand_db?schema=public"

# Cache & Realtime state (Redis 7 Docker port 6380)
REDIS_URL="redis://localhost:6380"
REDIS_PORT=6380
REDIS_HOST="localhost"

# Authentication (JWT)
JWT_ACCESS_SECRET="daihoccongnghieptphcm"
JWT_ACCESS_EXPIRES_IN="15m"

# AI Microservice (FastAPI chạy local port 8000)
AI_SERVICE_URL="http://localhost:8000"
AI_CONFIDENCE_THRESHOLD="0.6"

# SMTP Email (Nodemailer - dùng cho gửi OTP Email)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="luhongphucdaiht@gmail.com"
SMTP_PASS="acqbjpmzwqkiiidy"

# eSMS Gateway (Gửi tin nhắn SMS OTP thật qua eSMS.vn)
ESMS_API_KEY="82571DA6FC34F8BD5A1CFCD5F7951D"
ESMS_SECRET_KEY="76CB6899A3234645B37696368681D2"
ESMS_BRANDNAME="Baotrixemay"
ESMS_SMS_TYPE="2"
ESMS_SANDBOX="0"

# Google OAuth 2.0 (Dùng để xác thực idToken từ Google Sign-In)
GOOGLE_CLIENT_ID="255047379055-cu8ifeqgfak7nj3sq8bcve9hqh9v85m4.apps.googleusercontent.com"
GOOGLE_ANDROID_CLIENT_ID="255047379055-fnfeg3subj9ej2vda53ho0fluo9f8rib.apps.googleusercontent.com"